extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.home_slider
		.owl-carousel.owl-theme
			.item
				img(src="./img/home_slider_1.jpg", alt="")
				.title
					.container
						.row
							.col
								h1 Chung Toi La FullStack Viet Nam
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit minus minima porro possimus hic quibusdam excepturi! Odio ipsam optio cupiditate consequuntur, laudantium repellendus exercitationem natus, et aperiam perspiciatis adipisci?
			.item
				img(src="./img/home_slider_1.jpg", alt="")
				.title
					.container
						.row
							.col
								h1 Chung Toi La FullStack Viet Nam
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit minus minima porro possimus hic quibusdam excepturi! Odio ipsam optio cupiditate consequuntur, laudantium repellendus exercitationem natus, et aperiam perspiciatis adipisci?
			.item
				img(src="./img/home_slider_1.jpg", alt="")
				.title
					.container
						.row
							.col
								h1 Chung Toi La FullStack Viet Nam
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit minus minima porro possimus hic quibusdam excepturi! Odio ipsam optio cupiditate consequuntur, laudantium repellendus exercitationem natus, et aperiam perspiciatis adipisci?
	section.home_new
		.container
			.row
				.col.page_title
					h2 
						<strong> Fullstack </strong>
							| chuyen nghiep
		.container
			.row
				.col-md-4.item
					a(href="#" title="")
						figure
							.blockimg
								.conmat
									i.fa.fa-eye
								img(src="./img/home_news_1.jpg", alt="")
							figcapsion
								h3 Trung Tam Dao Tao IT
								time 21/8/2018
								p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim et vero, aliquid consequuntur, excepturi inventore iure reprehenderit optio est veniam dolorum assumenda eveniet vitae molestiae dolor libero nisi fuga labore?
				.col-md-4.item
					a(href="#" title="")
						figure
							.blockimg
								.conmat
									i.fa.fa-eye
								img(src="./img/home_news_2.jpg", alt="")
							figcapsion
								h3 Trung Tam Dao Tao IT
								time 21/8/2018
								p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim et vero, aliquid consequuntur, excepturi inventore iure reprehenderit optio est veniam dolorum assumenda eveniet vitae molestiae dolor libero nisi fuga labore?
				.col-md-4.item
					a(href="#" title="")
						figure
							.blockimg
								.conmat
									i.fa.fa-eye
								img(src="./img/home_news_3.jpg", alt="")
							figcapsion
								h3 Trung Tam Dao Tao IT
								time 21/8/2018
								p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim et vero, aliquid consequuntur, excepturi inventore iure reprehenderit optio est veniam dolorum assumenda eveniet vitae molestiae dolor libero nisi fuga labore?
	section.home_clients
		.container
			.row
				.col
					.owl-carousel.owl-theme
						- for(x=1;x<10;x++)
							.item
								if (x < 7)
									img(src="./img/clients_"+x+".png", alt="")
								else 
									img(src="./img/clients_"+(x-3)+".png", alt="")
	section.home_links
		.container
			.row
				.col-6.col-md-4
					h2 FullStack VietNam
					.item.list-unstyled.text-small
						p Mobile: (+84) 0903004351
							br
							| Email: xxx1satthu1xxx@gmail.com
							br
							| Dia chi: 28 duong so 2 - cytycland - phuong7
							br
							| go vap - HCM
				.col-3.col-md-4.col-6.col-md-4
					h2 Link
					a.text-muted(href="#")
						ul.list-unstyled.text-small
							li
								i.fa.fa-arrow-right Khoa hoc frontend master
							li
								i.fa.fa-arrow-right khoa hoc Fullstack developer
							li
								i.fa.fa-arrow-right khoa hoc design chuyen nghiep
							li
								i.fa.fa-arrow-right lich khai giang 
							li
								i.fa.fa-arrow-right dang ki khoa hoc 
				.col-3.col-md-4.col-6.col-md-4
					.taolao
						h2 link
					a.text-muted(href="#" title="")
						ul.list-unstyled.text-small
							li
								i.fa.fa-arrow-right Khoa hoc frontend master
							li
								i.fa.fa-arrow-right khoa hoc Fullstack developer
							li
								i.fa.fa-arrow-right khoa hoc design chuyen nghiep
							li
								i.fa.fa-arrow-right lich khai giang 
							li
								i.fa.fa-arrow-right dang ki khoa hoc 
